<aside class="col-lg-3" id="sidebar">
    <div class="box_style_cat" id="faq_box">
        <ul id="cat_nav">
            <li><a href="/user"><i class="icon-user"></i> @T("common.user.profile.title")</a></li>
            <li><a href="/user/reviews"><i class="icon-comment"></i>@T("common.user.profile.reviews")</a></li>
            <li><a href="/user/wishes"><i class=" icon-shop"></i>@T("common.user.profile.wishes")</a></li>
            <li><a href="/user/orders"><i class="icon-shop"></i>@T("common.user.profile.orders")</a></li>
            <li><a href="/user/searches"><i class="icon-shop"></i>@T("common.user.profile.searches")</a></li>
            <li><a href="/auth/logout"><i class="icon-logout"></i>@T("common.header.logout")</a></li>
        </ul>
    </div>
</aside>