@{
    var _workContext = EngineContext.Current.Resolve<IWorkContext>();
    var _soreInformationSettings = EngineContext.Current.Resolve<StoreInformationSettings>();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Head" />
    @RenderSection("Styles", required: false)
</head>
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable footer-fixed page-loading">
    <div id="kt_header_mobile" class="header-mobile align-items-center  header-mobile-fixed ">
        <!--begin::Logo-->
        <a href="/admin/">
            <img alt="Logo" src="@_soreInformationSettings.LogoPicture" />
        </a>
        <!--end::Logo-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">
            <!--begin::Aside Mobile Toggle-->
            <button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
                <span></span>
            </button>
            <!--end::Aside Mobile Toggle-->
            <!--begin::Header Menu Mobile Toggle-->
            <button class="btn p-0 burger-icon ml-4" id="kt_header_mobile_toggle">
                <span></span>
            </button>
            <!--end::Header Menu Mobile Toggle-->
            <!--begin::Topbar Mobile Toggle-->
            <button class="btn btn-hover-text-primary p-0 ml-2" id="kt_header_mobile_topbar_toggle">
                <span class="svg-icon svg-icon-xl">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                            <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                        </g>
                    </svg><!--end::Svg Icon-->
                </span>
            </button>
            <!--end::Topbar Mobile Toggle-->
        </div>
        <!--end::Toolbar-->
    </div>
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-row flex-column-fluid page">
            <div class="aside aside-left  aside-fixed  d-flex flex-column flex-row-auto" id="kt_aside">
                <div class="brand flex-column-auto " id="kt_brand">
                    <a href="/admin/" class="brand-logo">
                        <img alt="Logo" src="@_soreInformationSettings.LogoPicture" class="w-100 border bg-white" />
                    </a>
                    <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
                        <span class="svg-icon svg-icon svg-icon-xl">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-left.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z" fill="#000000" fill-rule="nonzero" transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999) " />
                                    <path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999) " />
                                </g>
                            </svg><!--end::Svg Icon-->
                        </span>
                    </button>
                </div>
                <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
                    <div id="kt_aside_menu"
                         class="aside-menu my-4 "
                         data-menu-vertical="1"
                         data-menu-scroll="1" data-menu-dropdown-timeout="500">
                        <ul class="menu-nav ">
                            @await Component.InvokeAsync(typeof(WCore.Web.Areas.Admin.ViewComponents.LayoutSidebarViewComponent))
                            <li class="d-none menu-item" aria-haspopup="true">
                                <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.skiresorts.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                    <ul class="menu-subnav">
                                        <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                            <a href="/Admin/SkiResort" class="menu-link">
                                                <span class="menu-text">@T("admin.configuration.skiresorts.list")</span>
                                            </a>
                                        </li>
                                        <li class="menu-item  menu-item-submenu" aria-haspopup="true">
                                            <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.hotels.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                <ul class="menu-subnav">
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/Admin/Hotel" class="menu-link">
                                                            <span class="menu-text">@T("admin.configuration.hotels.list")</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item  menu-item-submenu" aria-haspopup="true">
                                                        <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.roomtypes.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                                        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                            <ul class="menu-subnav">
                                                                <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                                    <a href="/Admin/RoomType" class="menu-link">
                                                                        <span class="menu-text">@T("admin.configuration.roomtypes.list")</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item  menu-item-submenu" aria-haspopup="true">
                                                                    <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.rooms.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                                                    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                                        <ul class="menu-subnav">
                                                                            <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                                                <a href="/Admin/Room" class="menu-link">
                                                                                    <span class="menu-text">@T("admin.configuration.rooms.list")</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="menu-item  menu-item-submenu" aria-haspopup="true">
                                            <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.skischools.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                <ul class="menu-subnav">
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/Admin/Skischool" class="menu-link">
                                                            <span class="menu-text">@T("admin.configuration.skischools.list")</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item  menu-item-submenu" aria-haspopup="true">
                                                        <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.equipmentcategories.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                                        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                            <ul class="menu-subnav">
                                                                <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                                    <a href="/Admin/EquipmentCategory" class="menu-link">
                                                                        <span class="menu-text">@T("admin.configuration.equipmentcategories.list")</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item  menu-item-submenu" aria-haspopup="true">
                                                                    <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.equipments.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                                                    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                                        <ul class="menu-subnav">
                                                                            <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                                                <a href="/Admin/Equipment" class="menu-link">
                                                                                    <span class="menu-text">@T("admin.configuration.equipments.list")</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="menu-item  menu-item-submenu" aria-haspopup="true">
                                                        <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.activities.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                                        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                            <ul class="menu-subnav">
                                                                <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                                    <a href="/Admin/Activity" class="menu-link">
                                                                        <span class="menu-text">@T("admin.configuration.activities.list")</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="menu-item  menu-item-submenu" aria-haspopup="true">
                                            <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.transfers.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                <ul class="menu-subnav">
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/Admin/Transfer" class="menu-link">
                                                            <span class="menu-text">@T("admin.configuration.transfers.list")</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li class="menu-item  menu-item-submenu" aria-haspopup="true">
                                            <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.restaurants.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                <ul class="menu-subnav">
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/Admin/Restaurant" class="menu-link">
                                                            <span class="menu-text">@T("admin.configuration.restaurants.list")</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="menu-item  menu-item-submenu" aria-haspopup="true">
                                            <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.descriptions.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                <ul class="menu-subnav">
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/Admin/Description" class="menu-link">
                                                            <span class="menu-text">@T("admin.configuration.descriptions.list")</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="d-none menu-item" aria-haspopup="true">
                                <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.tourcategories.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                    <ul class="menu-subnav">
                                        <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                            <a href="/Admin/TourCategory" class="menu-link">
                                                <span class="menu-text">@T("admin.configuration.tourcategories.list")</span>
                                            </a>
                                        </li>
                                        <li class="menu-item  menu-item-submenu" aria-haspopup="true">
                                            <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.tours.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                <ul class="menu-subnav">
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/Admin/Tour" class="menu-link">
                                                            <span class="menu-text">@T("admin.configuration.tours.list")</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="d-none menu-item" aria-haspopup="true">
                                <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.users.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                    <ul class="menu-subnav">
                                        <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                            <a href="/Admin/User" class="menu-link">
                                                <span class="menu-text">@T("admin.configuration.users.list")</span>
                                            </a>
                                        </li>
                                        <li class="menu-item  menu-item-submenu" aria-haspopup="true">
                                            <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.reviews.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                <ul class="menu-subnav">
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/Admin/Review" class="menu-link">
                                                            <span class="menu-text">@T("admin.configuration.reviews.list")</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="menu-item  menu-item-submenu" aria-haspopup="true">
                                            <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.wishes.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                <ul class="menu-subnav">
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/Admin/Wish" class="menu-link">
                                                            <span class="menu-text">@T("admin.configuration.wishes.list")</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="menu-item  menu-item-submenu" aria-haspopup="true">
                                            <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.views.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                <ul class="menu-subnav">
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/Admin/View" class="menu-link">
                                                            <span class="menu-text">@T("admin.configuration.views.list")</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="d-none menu-item" aria-haspopup="true">
                                <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.useragencies.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                    <ul class="menu-subnav">
                                        <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                            <a href="/Admin/UserAgency" class="menu-link">
                                                <span class="menu-text">@T("admin.configuration.useragencies.list")</span>
                                            </a>
                                        </li>
                                        <li class="menu-item" aria-haspopup="true">
                                            <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.useragencyauthorizations.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                <ul class="menu-subnav">
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/Admin/UserAgencyAuthorization" class="menu-link">
                                                            <span class="menu-text">@T("admin.configuration.useragencyauthorizations.list")</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="d-none menu-item" aria-haspopup="true">
                                <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.pricevariations.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                    <ul class="menu-subnav">
                                        <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                            <a href="/Admin/PriceVariation" class="menu-link">
                                                <span class="menu-text">@T("admin.configuration.pricevariations.list")</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="d-none menu-item" aria-haspopup="true">
                                <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.prices.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                    <ul class="menu-subnav">
                                        <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                            <a href="/Admin/Price" class="menu-link">
                                                <span class="menu-text">@T("admin.configuration.prices.list")</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="d-none menu-item" aria-haspopup="true">
                                <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">Yapılandırma</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                    <ul class="menu-subnav">
                                        <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                            <a href="/admin/currency/" class="menu-link">
                                                <span class="menu-text">@T("admin.configuration.currencies.title")</span>
                                            </a>
                                        </li>
                                        <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                            <a href="/admin/language/" class="menu-link">
                                                <span class="menu-text">@T("admin.configuration.languages.title")</span>
                                            </a>
                                        </li>
                                        <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                            <a href="/admin/log/" class="menu-link">
                                                <span class="menu-text">@T("admin.configuration.logs.title")</span>
                                            </a>
                                        </li>
                                        <li class="menu-item" aria-haspopup="true">
                                            <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.templates.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                <ul class="menu-subnav">
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/Admin/Template" class="menu-link">
                                                            <span class="menu-text">@T("admin.configuration.templates.list")</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="menu-item  menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                                            <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">@T("admin.configuration.settings.title")</span><span class="menu-desc"></span><i class="menu-arrow"></i></a>
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                <ul class="menu-subnav">
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/admin/setting/StoreInformationSettings" class="menu-link">
                                                            <span class="menu-text">@T("admin.configuration.settings.storeinformation.title")</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/admin/setting/commonsettings" class="menu-link">
                                                            <span class="menu-text">@T("admin.configuration.settings.common.title")</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/admin/setting/LocalizationSettings" class="menu-link">
                                                            <span class="menu-text">@T("admin.configuration.settings.localization.title")</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/admin/setting/notificationsettings" class="menu-link">
                                                            <span class="menu-text">@T("admin.configuration.settings.notification.title")</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/admin/setting/seosettings" class="menu-link">
                                                            <span class="menu-text">@T("admin.configuration.settings.seo.title")</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/admin/setting/mailsettings" class="menu-link">
                                                            <span class="menu-text">@T("admin.configuration.settings.mail.title")</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                <partial name="_Header" />
                @RenderBody()
                <partial name="_Footer" />
            </div>
        </div>
    </div>
    <partial name="_Bottom" />
    @RenderSection("Scripts", required: false)

    <script src="/admin/assets/plugins/custom/filepond/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.min.js"></script>
    <script src="/admin/assets/plugins/custom/filepond/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.min.js"></script>
    <script src="/admin/assets/plugins/custom/filepond/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.min.js"></script>
    <script src="/admin/assets/plugins/custom/filepond/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script>
    <script src="/admin/assets/plugins/custom/filepond/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.js"></script>
    <script src="/admin/assets/plugins/custom/filepond/dist/filepond.min.js"></script>

    <script>
        function OpenWindow(query, w, h, scroll) {
            var l = (screen.width - w) / 2;
            var t = (screen.height - h) / 2;

            winprops = 'resizable=0, height=' + h + ',width=' + w + ',top=' + t + ',left=' + l + 'w';
            if (scroll) winprops += ',scrollbars=1';
            var f = window.open(query, "_blank", winprops);
        }
    </script>
</body>
</html>
