@inject WCore.Core.Domain.Settings.SeoSettings _seoSettings
@inject WCore.Core.IWebHelper _webHelper
@inject WCore.Core.IWorkContext _workContext
@model WCore.Web.Models.TourCategories.TourCategoryListModel
@{
    ViewBag.Title = T("common.tourcategory.list.title");

    ViewBag.Page = "TourCategoryList";
    ViewBag.Collapse = "Show";
}
<main>
    <section class="hero_in hotels">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>@T("common.tourcategory.list.title")</h1>
            </div>
        </div>
    </section>
    <div class="filters_listing sticky_horizontal">
        <div class="container">
            <ul class="clearfix">
                <li>
                    <div class="switch-field">
                        <input type="radio" id="all" name="listing_filter" value="all" checked="" data-filter="*" class="selected">
                        <label for="all">@T("common.view.all")</label>
                        <input type="radio" id="popular" name="listing_filter" value="popular" data-filter=".popular">
                        <label for="popular">@T("common.view.popular")</label>
                        <input type="radio" id="latest" name="listing_filter" value="latest" data-filter=".latest">
                        <label for="latest">@T("common.view.latest")</label>
                    </div>
                </li>
                <li>
                    <div class="layout_view">
                        <a href="#"><i class="icon-th"></i></a>
                        <a href="#" class="active"><i class="icon-th-list"></i></a>
                    </div>
                </li>
                <li>
                    <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="@T("common.view.hidemap")" data-text-original="@T("common.view.viewonmap")">@T("common.view.viewonmap")</a>
                </li>
            </ul>
        </div>
        <!-- /container -->
    </div>
    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div>

    <div class="container margin_60_35">
        <div class="row">
            <aside class="col-lg-3" id="sidebar">
                @await Component.InvokeAsync("Search")
            </aside>
            <div class="col-lg-9" id="list_sidebar">
                @foreach (var item in Model.TourCategories)
                {
                    var url = "/" + _workContext.WorkingLanguage.UniqueSeoCode + "/" + item.SeName;
                    var liked = Model.User.WishList.Wishes.Any(o => o.EntityGroup == WCore.Core.Domain.EntityGroup.TourCategory && o.EntityKey == item.Id);
                    var rewiews = item.Reviews != null ? item.Reviews.Count() : 0;
                    <div class="isotope-wrapper">
                        <div class="box_list isotope-item" style="width:100%;">
                            <div class="row no-gutters">
                                <div class="col-lg-5">
                                    <figure>
                                        <a href="@url"><img src="@item.Image" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>@T("common.readmore")</span></div></a>
                                    </figure>
                                </div>
                                <div class="col-lg-7">
                                    <div class="wrapper">
                                        <a href="#0" data-id="@item.Id" data-group="@EntityGroup.TourCategory" class="wish_bt @(liked ? "liked" : "")"></a>
                                        <div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>
                                        <h3><a href="@url">@item.Title</a></h3>
                                        @if (!string.IsNullOrWhiteSpace(item.ShortBody))
                                        {
                                            <p>@(item.ShortBody.Length > 350 ? item.ShortBody.Substring(0,350)+"..." : item.ShortBody)</p>
                                        }
                                        @*<span class="price">From <strong>$54</strong> /per person</span>*@
                                    </div>
                                    <ul>
                                        <li><i class="ti-eye"></i> 0 views</li>
                                        <li><div class="score"><span>Superb<em>@rewiews Reviews</em></span><strong>8.9</strong></div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <p class="text-center add_top_30"><a href="#0" class="btn_1 rounded">@T("common.loadmore")</a></p>
            </div>
        </div>
    </div>
    <div class="bg_color_1">
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-md-4">
                    <a href="#0" class="boxed_list">
                        <i class="pe-7s-help2"></i>
                        <h4>@T("common.tourcategory.list.bottom.box1.title")</h4>
                        <p>@T("common.tourcategory.list.bottom.box1.description")</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#0" class="boxed_list">
                        <i class="pe-7s-wallet"></i>
                        <h4>@T("common.tourcategory.list.bottom.box2.title")</h4>
                        <p>@T("common.tourcategory.list.bottom.box2.description")</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#0" class="boxed_list">
                        <i class="pe-7s-note2"></i>
                        <h4>@T("common.tourcategory.list.bottom.box3.title")</h4>
                        <p>@T("common.tourcategory.list.bottom.box3.description")</p>
                    </a>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
</main>
@section Scripts{

    <script src="/panagea/js/isotope.min.js"></script>
    <script>
        $(window).on('load', function () {
            var $container = $('.isotope-wrapper');
            $container.isotope({ itemSelector: '.isotope-item', layoutMode: 'masonry' });
        });
        $('.filters_listing').on('click', 'input', 'change', function () {
            var selector = $(this).attr('data-filter');
            $('.isotope-wrapper').isotope({ filter: selector });
        });
    </script>
    <script>
        $("#range").ionRangeSlider({
            hide_min_max: true,
            keyboard: true,
            min: 30,
            max: 180,
            from: 60,
            to: 130,
            type: 'double',
            step: 1,
            prefix: "Min. ",
            grid: false
        });
    </script>
}

@section Styles{
}