@{
    ViewData["PageMainTitle"] = "Şablon Yönetimi";
    ViewData["PageTitle"] = "Şablon Listesi";
    ViewData["Title"] = ViewData["PageTitle"] + " / " + ViewData["PageMainTitle"];
    ViewData["ControllerName"] = "template";
    ViewData["DeleteActionName"] = "delete";
}
<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="subheader py-2 py-lg-6  subheader-solid " id="kt_subheader">
        <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-1">
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <h5 class="text-dark font-weight-bold my-1 mr-5">
                        @ViewData["PageTitle"]
                    </h5>
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">
                                @ViewData["PageMainTitle"]
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <a href="/Admin/@ViewData["ControllerName"]/AddOrEdit/0" class="btnDisableable btn btn-sm btn-success font-weight-bolder mr-2">
                    <i class="ki ki-plus icon-xs"></i>
                    @T("Admin.Configuration.AddNew")
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column-fluid">
        <div class=" container-fluid ">
            <div class="card card-custom">
                <div class="card-body">
                    <div id="teamplate_datatable"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var teamplateDatatable = $("#teamplate_datatable").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "/Template/GetFilteredItems",
                            type: "POST",
                            dataType: "json"
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "RecordsFiltered",
                        errors: "Errors"
                    },
                    requestEnd: function (e) {
                        if (e.type == "create" || e.type == "update") {
                            this.read();
                        }
                    },
                    error: function (e) {
                        console.log(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                toolbar: ["excel", "search"],
                pageable: {
                    refresh: true,
                    pageSizes: [10, 15, 20, 50, 100, 200, 300, 500, 1000, 3000,"all"],
                    @Html.Partial("_GridPagerMessages")
                },
                scrollable: false,
                columns: [{
                    field: "Title",
                    title: "@T("Admin.Configuration.Title")",
                }, {
                    field: "TemplateType",
                    title: "Şablon Tipi",
                },{
                    field: "IsActive",
                    title: "@T("Admin.Configuration.IsActive")",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '# if(IsActive) {# Aktif #} else {# Pasif #} #',
                    width: 120,
                    filterable: false
                },{
                    field: "Deleted",
                    title: "@T("Admin.Configuration.Deleted")",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '# if(Deleted) {# <span class="btn btn-sm btn-success">@T("admin.configuration.true")</span> #} else {# <span class="btn btn-sm btn-danger">@T("admin.configuration.false")</span> #} #',
                    width: 120,
                    filterable: false
                },{
                    field: "Id",
                    title: "@T("admin.common.delete")",
                    width: 80,
                    filterable: false,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '<a href="/template/addoredit/#=Id#" class="btn btn-sm btn-clean btn-icon" title="Edit details">\
                                    <i class="la la-edit"></i>\
                                </a>\
                                <a href="javascript:void(0)" data-id="#=Id#" class="btn btn-sm btn-clean btn-icon btnTemplateDelete" title="Delete">\
                                    <i class="la la-trash"></i>\
                                </a>'
                }]
            });
            $("body").on("click", "#grid .btnTemplateDelete", function () {
                Swal.fire({
                    title: 'Eminmisiniz?',
                    text: "Kaydı silmek istediğiniz eminmisiniz?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Evet',
                    cancelButtonText: 'Hayır',
                    timer: 3000,
                    timerProgressBar: true
                }).then((result) => {
                    console.log(result);
                    if (result.value) {
                        var id = $(this).attr("data-id");
                        console.log(id);
                        $.ajax({
                            type: "POST",
                            url: '/Template/AddOrEdit',
                            data: { id: id, delete: true },
                            success: function (data) {
                                teamplateDatatable.data("kendoGrid").dataSource.read();
                                Swal.fire({
                                    title: 'Başarılı',
                                    icon: 'success',
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    timer: 1000,
                                    timerProgressBar: true
                                });
                            },
                            error: function (d) {
                                console.log(d);
                            }
                        });
                    }
                })
            });
        });
    </script>
}